<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>fanadeqoman</title>
<link rel="stylesheet" href="css/bootstrapA.css">
<link rel="stylesheet" href="css/mystyleA.css">
<link href="css/commonA.css" rel="stylesheet" media="screen" id="color">
<!-- Font Icon -->
<link href="css/font-awesome.min.css" rel="stylesheet" media="screen">

</head>

<body>

<div class="wrapper">
<div class=" topbar container">
    
            <div class="currency"><span class="mr">USD</span><span class="mr"><img style="width:16px;" src="img/icon/dollar.PNG"></span></div>
            <div class="language"><span class="mr">Arabic</span><span class="mr"><img  src="img/icon/globe.PNG"></span></div>


</div><!-- end of container-->

<div class="container">

<div class="col-lg-4 mt10 mb20 img-responsive"><img src="img/logo1.png"></div>
<div class="col-lg-8 mt30 mb20"><span class="pull-right contact">24545262</span> <span class="pull-right mt5"><img src="img/icon/phone.png"></span>
</div>

</div>
<div class="clearfix"></div>

<div class="container">
<div class="row mt10">    
<div class="col-sm-12 col-xs-12" style="min-height:395px;">
<div class="well lightbg lgray text-center"><h3 class="margin-none">Your Booking Summary</h3></div>
<div class="clearfix">
              <table class="table table-hover grayborder">
                <thead class="graybg">
                  <tr>
                    <th>Sl No</th>
                    <th>Booking ID</th>
                    <th>Booking Date</th>
                    <th>Persons</th>
                    <th>Check In</th>
                    <th>Check Out</th>
                    <th>Amount</th>
                    <th>Currency</th>
                    <th>Status</th>
                    <th>Voucher</th>
                  
                    
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>g42342</td>
                    <td>28-08-2014</td>
                    <td>2</td>
                    <td>28-08-2014</td>
                    <td>28-08-2014</td>
                    <td>543</td>
                    <td>$</td>
                    <td>confirmed</td>
                    <td><a href="#">view</a></td>
                    
                  </tr>
                   <tr>
                    <td>2</td>
                    <td>fsadf@#</td>
                    <td>30-08-2014</td>
                    <td>4</td>
                    <td>28-08-2014</td>
                    <td>28-08-2014</td>
                     <td>2400</td>
                    <td>&euro;</td>
                    <td>failed</td>
                    <td><a href="#">view</a></td>
                    
                  </tr>
                
                </tbody>
              </table>
           </div>   
            </div>
   

</div><!-- row mt10 end-->
</div><!-- container-->




<div class="clearfix"></div>


<!-- footer-->
<div class="container" style="background:url(img/footerbg.jpg) no-repeat; min-height:120px;">
<div class="row" >
<div class="col-lg-12 footer">
<a href="#" >Home</a>
<a href="#" >About Us</a>
<a href="#" >Contact Us</a>
<a href="#" >Faq</a>
<a href="#" >Terms & Conditions</a>
</div>
<div class=" col-lg-12 copyrights">
<p>Coyprights &nbsp;&copy;&nbsp;2014&nbsp;-&nbsp; fanadeqoman.com</p>
</div>
</div>
</div>
<!-- footer end-->
</div><!-- end of wrapper-->



</body>

   <style>td,th{ border-right:1px solid #ddd;}
   .lightbg{ background-color:#f5f5f5}</style>
</html>
