<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>fanadeqoman</title>
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/mystyle.css">
<link href="css/common.css" rel="stylesheet" media="screen" id="color">
<!-- Font Icon -->
<link href="css/font-awesome.min.css" rel="stylesheet" media="screen">

</head>

<body>


<div class="container">

    <div style=" width:25%; margin-top:10px; margin:bottom:20px;"><img src="http://provabextranet.com/fanadeqoman.com/public/img/logo1.png"></div>
   
</div>

<div class="clearfix"></div>

<div class="container">
<div class="row mt10">       
     
   
       <!-- thank u -->
      <div class="well">
   
 <div class="col-lg-11 col-xs-10">
 
    <h3 style="padding:10px;font-size: 17px;background: #EFF4FF;color: #8D8D8D;text-align: center;margin-top: 10px;font-weight: normal;font-family: tahoma; margin-bottom:10px !important;">Thank You ! For Your Booking with <span style="color: #FC7027;">Park View International.</span> Your Booking is Confirmed.</h3></div>
      </div><!-- well-->
      
      <!-- thank u end-->
 
      <div class="well"><!-- entire voucher-->
      
        <!--reservation no-->
          <div style="padding-left:15px; padding-right:15px;float:left width:100%">
       
      
       
       
              
     
   	 
          
              <div style="width:45%;padding-left:15px; padding-right:15px;float:left;">
              
                  <div style="padding-left:15px;width:40%; padding-right:15px;float:left;">
    <h4><div style="text-align:right;color:#555"> Reservation ID :</div></h4>
          </div>
          
          
         
          
          
                  <div style="padding-left:15px;width:40%; padding-right:15px;float:left">
   <h4><div style="text-align:left;color:#555"> 12342342442</div></h4>
          </div>
          
          
      </div>
          
          
          <div style="width:45%;padding-left:15px; padding-right:15px;float:left">
              
              <div style="padding-left:15px;width:40%; padding-right:15px;float:left">
    <h4><div style="text-align:right;color:#555"> Date of Booking :</div></h4>
          </div>
          
         
              <div style="padding-left:15px;width:40%; padding-right:15px;float:left">
              <h4><div style="text-align:left;color:#555"> 18/09/2014</div></h4>
          </div>
          
          
      </div>

          
          
          
     
      </div>
       <!--reservation no end-->
      
      <!-- left side-->
    <div style=" width:46%; float:left; padding-left:15px; padding-right:15px;">
          <div style="color: #00B0F0 !important;font-size:18px;text-align:center;background-color:#f5f5f5;
border: 1px solid #EFEFEF;
padding: 8px;
margin-bottom: 10px;">Traveller Details</div>
      <div style="background-color:#f5f5f5;
border: 1px solid #EFEFEF;
padding: 8px;
margin-bottom: 10px;">
          <div style=" width:50%; text-align:right;padding-left:15px; padding-right:15px;float:left;color:#555">
      
      <h4>Guest Name :</h4>
      <h4>Voucher Date :</h4>
      <h4>Transaction No :</h4>
      <h4>Check In :</h4>
      <h4>Check Out :</h4>
      <h4>Email Id :</h4>
      <h4>Contact No :</h4>
      <h4>Payment Summary :</h4>
      
      </div>
      
      <div class="col-lg-6 col-xs-5" style="color:#555">
      <h4>Akanksha</h4>
      <h4>28-08-2014</h4>
      <h4>869271814</h4>
      <h4>23-09-2014</h4>
      <h4>25-09-2014</h4>
      <h4>akanksha@gmail.com</h4>
      <h4>9865454125</h4>
      <h4 style="color: #FC7027;">$ 3000</h4>
      
      </div>
      </div>
      
      </div>
      <!-- left side end-->
      
      <!-- right side-->
      <div style=" width:46%; float:left; padding-left:15px; padding-right:15px;">
     
      <!-- hotel details-->
       <div style="color: #00B0F0 !important;font-size:18px;text-align:center;background-color:#f5f5f5;
border: 1px solid #EFEFEF;
padding: 8px;
margin-bottom: 10px;">Hotel Details</div>
          
             <div style="background-color:#f5f5f5;
border: 1px solid #EFEFEF;
padding: 8px;min-height: 282px;
margin-bottom: 10px;color:#555">

      <div style="margin-right: -15px;margin-left: -15px;">
          
             
          
          <div style="width:50%;float:left; text-align:center;"><h4>Hotel Name :</h4></div>
      <div style="width:50%;float:left; text-align:left;"><h4>Park View International</h4></div>
     </div>
          
          <div style="margin-right: -15px;margin-left: -15px;">
          <div style="width:50%;float:left; text-align:center;"><h4>Address:</h4></div>
      <div style="width:50%;float:left; text-align:left;"><h4>60 Old Madras Road, Indira Nagar <br> Bangalore</h4></div>
     </div>
          
           <div style="margin-right: -15px;margin-left: -15px;">
          <div style="width:50%;float:left; text-align:center;"><h4>Contact :</h4></div>
      <div style="width:50%;float:left; text-align:left;"><h4>+91- 9789798787</h4></div>
     </div>
          
          <div style="margin-right: -15px;margin-left: -15px;">
          <div style="width:50%;float:left; text-align:center;"><h4>Fax :</h4></div>
      <div style="width:50%;float:left; text-align:left;"><h4>080 - 253425443</h4></div>
     </div>
          
           <div style="margin-right: -15px;margin-left: -15px;">
          <div style="width:50%;float:left; text-align:center;"><h4>Email :</h4></div>
      <div style="width:50%;float:left; text-align:left;"><h4>support@parkview.com</h4></div>
     </div>
          
          
    
      
      
      </div><!-- well end-->
      
        <!-- hotel details end-->
        
        
      </div><!-- col5-->
      
      
            <!-- right side end-->
      
      <!-- cancellation policy-->
    <div style="width:100%; clear:both;padding-left:15px;padding-right:15px;">
      <div style="color: #00B0F0 !important;font-size:18px;text-align:center;background-color:#f5f5f5;
border: 1px solid #EFEFEF;
padding: 8px;
margin-bottom: 10px;">Cancellation Policy</div>
      <div style="background-color:#f5f5f5;
border: 1px solid #EFEFEF;
padding: 8px;color:#555;
margin-bottom: 10px;"> write your cancellation policy here</div>
      </div>
       <!-- cancellation policy end-->
      
      
      
      
      
      </div>
      <!-- entire voucher end-->
        
    <!-- col-12-->
          
          
          
          
          
       
<div class="clearfix"></div>
      </div><!-- row mt10 end-->
             
    </div><!-- container-->


<div class="clearfix"></div>


<!-- footer-->
<div class="container" style="background:url(img/footerbg.jpg) no-repeat; min-height:120px;">
<div class="row">
    <div style="text-align: center;width:100%;">
<a style="padding: 0px 15px;
        text-decoration:none;
    font-size: 13px;
    font-weight: bold;
        color: #00B0F0;" href="#">Home</a>
<a style="padding: 0px 15px;
        text-decoration:none;
    font-size: 13px;
    font-weight: bold;
        color: #00B0F0;" href="#">About Us</a>
<a style="padding: 0px 15px;
        text-decoration:none;
    font-size: 13px;
    font-weight: bold;
        color: #00B0F0;" href="#">Contact Us</a>
<a style="padding: 0px 15px;
        text-decoration:none;
    font-size: 13px;
    font-weight: bold;
        color: #00B0F0;" href="#">Faq</a>
<a style="padding: 0px 15px;
        text-decoration:none;
    font-size: 13px;
    font-weight: bold;
        color: #00B0F0;" href="#">Terms & Conditions</a>
</div>
    <div style="text-align: center; width:100%;
color: #868686;
font-size: 12px;
position: relative;

font-weight: bold;">
<p>Coyprights &nbsp;&copy;&nbsp;2014&nbsp;-&nbsp; fanadeqoman.com</p>
</div>
</div>
</div>
<!-- footer end-->
</div><!-- end of wrapper-->



</body>

<style> h4{ font-size:16px !important;}

</style>
</html>