<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>fanadeqoman</title>
<link rel="stylesheet" href="css/bootstrapA.css">
<link rel="stylesheet" href="css/mystyleA.css">
<link href="css/commonA.css" rel="stylesheet" media="screen" id="color">
<!-- Font Icon -->
<link href="css/font-awesome.min.css" rel="stylesheet" media="screen">

</head>

<body>


<div class="container">

<div class="col-lg-4 mt10 mb20 img-responsive"><img src="img/logo1.png"></div>
<div class="col-lg-8 mt30 img-responsive pull-right"><span class="pull-right contact">24545262</span> <span class="pull-right mt5"><i class="icon-phone-sign font24 dgray"></i></span></div>

</div>

<div class="clearfix"></div>

<div class="container">
<div class="row mt10">       
     
   
       <!-- thank u -->
      <div class="well">
      <div class="col-lg-1  col-xs-2 bluebg bdradius3" ><img width="50" src="img/Goth Bow.gif"></div>
 <div class="col-lg-11 col-xs-10" >
 
    <h3 class=" heading3 text-center" style="padding:14px; margin-bottom:0px !important;">Thank You ! For Your Booking with <span class="orangetxt">Park View International.</span> Your Booking is Confirmed.</h3></div>
      </div><!-- well-->
      
      <!-- thank u end-->
 
      <div class="well"><!-- entire voucher-->
      
        <!--reservation no-->
       <div class="col-lg-12 ">
       
      
       
       
      <div class="well " style="background-color:#F5F5F5;box-shadow: 0px 2px 5px #878787;">
      <div class="row">
      <div class="col-lg-6">
      <div class="col-lg-6"><h4><div class=" text-left">Reservation ID :</div></h4></div>
      <div class="col-lg-6"><h4><div class=" text-right"> 12342342442</div></h4></div>
      </div>
      <div class="col-lg-6">
      <div class="col-lg-6"><h4><div class=" text-left">Date of Booking :</div></h4></div>
      <div class="col-lg-6"><h4><div class=" text-right">28-08-2014</div></h4></div>
      </div>
      </div><!-- well-->
      </div>
      </div>
       <!--reservation no end-->
      
      <!-- left side-->
      <div class="col-lg-6 clear">
      <div class="well text-center font18 bluetxt" style="background-color:#f5f5f5">Traveller Details</div>
      <div class="well">
      <div class="col-lg-6 col-xs-7 text-left">
      
      <h4>Guest Name :</h4>
      <h4>Voucher Date :</h4>
      <h4>Transaction No :</h4>
      <h4>Check In :</h4>
      <h4>Check Out :</h4>
      <h4>Email Id :</h4>
      <h4>Contact No :</h4>
      <h4>Payment Summary :</h4>
      
      </div>
      
      <div class="col-lg-6 col-xs-5">
      <h4>Akanksha</h4>
      <h4>28-08-2014</h4>
      <h4>869271814</h4>
      <h4>23-09-2014</h4>
      <h4>25-09-2014</h4>
      <h4>akanksha@gmail.com</h4>
      <h4>9865454125</h4>
      <h4 class="orangetxt">$ 3000</h4>
      
      </div>
      </div>
      
      </div>
      <!-- left side end-->
      
      <!-- right side-->
      <div class="col-lg-6">
     
      <!-- hotel details-->
       <div class="well text-center font18 bluetxt" style="background-color:#f5f5f5">Hotel Details</div>
      <div class="well">
      <div class="row">
      <div class="col-lg-4 col-xs-6 text-left"><h4>Hotel Name :</h4></div>
      <div class="col-lg-8 col-xs-6"><h4>Park View International</h4></div>
     </div>
     <div class="row">
      <div class="col-lg-4  col-xs-6 text-left"><h4>Address :</h4></div>
      <div class="col-lg-8 col-xs-6 "><h4>60 Old Madras Road, Indira Nagar <br> Bangalore</h4></div>
     </div>
     <div class="row">
      <div class="col-lg-4 col-xs-6  text-left"><h4>Contact :</h4></div>
      <div class="col-lg-8 col-xs-6 "><h4>+91- 9789798787</h4></div>
     </div>
       <div class="row">
      <div class="col-lg-4 col-xs-6  text-left"><h4>Fax :</h4></div>
      <div class="col-lg-8 col-xs-6 "><h4>080 - 253425443</h4></div>
     </div>
      <div class="row">
      <div class="col-lg-4 col-xs-6 text-left"><h4>Email :</h4></div>
      <div class="col-lg-8 col-xs-6 "><h4>support@parkview.com</h4></div>
     </div>
      
      
      
      </div><!-- well end-->
      
        <!-- hotel details end-->
        
        
      </div><!-- col5-->
      
      
            <!-- right side end-->
      
      <!-- cancellation policy-->
      <div class="col-lg-12">
      <div class="well  text-center font18 bluetxt" style="background-color:#f5f5f5">Cancellation Policy</div>
      <div class="well"> write your cancellation policy here</div>
      </div>
       <!-- cancellation policy end-->
      
      
      
      
      
      </div>
      <!-- entire voucher end-->
        
    <!-- col-12-->
          
          
          
          
          
       
<div class="clearfix"></div>
      </div><!-- row mt10 end-->
             
    </div><!-- container-->


<div class="clearfix"></div>


<!-- footer-->
<div class="container" style="background:url(img/footerbg.jpg) no-repeat; min-height:120px;">
<div class="row" >
<div class="col-lg-12 footer">
<a href="#" >Home</a>
<a href="#" >About Us</a>
<a href="#" >Contact Us</a>
<a href="#" >Faq</a>
<a href="#" >Terms & Conditions</a>
</div>
<div class=" col-lg-12 copyrights">
<p>Coyprights &nbsp;&copy;&nbsp;2014&nbsp;-&nbsp; fanadeqoman.com</p>
</div>
</div>
</div>
<!-- footer end-->
</div><!-- end of wrapper-->



</body>

   <style>h4{ font-size:16px !important;}</style>
</html>
